.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 30px;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}


ul {
    display: flex;
    margin: 10px;
    padding: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
    /* Change width to 100% to occupy the entire available space */

    li {
        width: 600px;
        height: 150px;
        border-style: solid;
        margin-bottom: 10px;
        box-sizing: border-box;
        /* Include padding and borders in the width calculation */

    }
}

.total {
    width: 15%;
    height: 200px;
    border-style: solid;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
}