.container {
    display: flex;
    margin: 13px;

    .picture {
        width: 112px;
        height: 112px;
        border: 2px solid;

        img {
            width: 112px;
            height: 112px;
        }
    }

    .limoncelloInfo {
        width: 450px;
        position: relative;
        display: flex;
        flex-direction: column;

        table {
            width: 100%;

            td,
            th {
                width: 25%;
            }
        }

        .deleteButton {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}