<div class="container">
    <div class="picture">
        <img [src]="basketItem.limoncello.imageFileName" alt="phone">
    </div>
    <div class="limoncelloInfo">
        <table>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Subtotal</th>
            </tr>
            <tr>
                <td>{{basketItem.limoncello.name}}</td>
                <td>€{{basketItem.limoncello.price | number : '1.2-2' : 'nl'}}</td>
                <td><input type="number" id="counter" size="8" min="1" step="1" placeholder="" inputmode="numeric"
                        autocomplete="off" maxlength="3" [(ngModel)]="counterValue"
                        (ngModelChange)="handleInputChange()"></td>
                <td>€{{ calculatedValue | number : '1.2-2' : 'nl'}}</td>
            </tr>
        </table>
        <button mat-icon-button class="deleteButton" (click)="deleteBasketItem()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>