<div class="flex">
    <div class="aboutContainer">
        <h1>Over ons</h1>
        <div class="textBox">


            <p>Ons verhaal begint met mijn broer Xandor, een gepassioneerde levensgenieter, die de liefde voor
                limoncello ontdekte tijdens een reis naar Italië. Terwijl hij door de charmante straatjes van een
                pittoresk Italiaans dorpje slenterde, stuitte hij op een kleine limoncello-distilleerderij.
                Nieuwsgierig
                als hij was, besloot hij een slokje van deze beroemde citroenlikeur te proberen. <br><br>

                Het was liefde op het eerste slokje! De frisse, intense smaak van zongerijpte citroenen en de
                verkwikkende geur betoverden zijn smaakpapillen. Hij wist meteen dat hij deze verrukkelijke drank
                met de
                wereld wilde delen. <br><br>

                Geïnspireerd door zijn Italiaanse avontuur en vastberaden om de authentieke smaak van limoncello
                naar
                huis te brengen, richtte mijn broer Lemonbro's op. Met veel toewijding en zorg hebben we een
                selectie
                van de allerbeste limoncello's samengesteld, rechtstreeks geïmporteerd uit de zonovergoten
                citroengaarden van Italië. <br><br>

                Bij Lemonbro's geloven we in het koesteren van traditie en vakmanschap. Elke fles limoncello die we
                aanbieden, is met liefde gemaakt volgens eeuwenoude familierecepten. We werken samen met
                gepassioneerde
                Italiaanse distilleerderijen die alleen de hoogste kwaliteit citroenen gebruiken en elke stap van
                het
                productieproces met zorg volgen. <br><br>

                Of je nu een kenner bent van limoncello of het voor het eerst wilt proberen, bij Lemonbro's hebben
                we
                voor elk wat wils. Ontdek de verfrissende smaak van onze klassieke limoncello, geniet van de
                subtiele
                variaties van onze ambachtelijke selecties en laat je verrassen door onze unieke smaakcombinaties.
                <br><br>

                We nodigen je uit om een slokje limoncello te nemen en de zonovergoten Italiaanse sfeer te proeven
                die
                in elke fles Lemonbro's zit. Sluit je aan bij ons avontuur en laat je meeslepen door de heerlijke
                wereld
                van limoncello! <br><br>
            </p>


            <h2>Missie</h2>
            <p>
                Onze missie bij Lemon Bros is om mensen te inspireren en te verbinden door middel van de verrukkelijke
                wereld van Limoncello. We streven ernaar om hoogwaardige, authentieke Limoncello's aan te bieden die de
                zintuigen prikkelen en een unieke smaakbeleving bieden. Door onze passie voor kwaliteit, vakmanschap en
                de rijke Italiaanse tradities te delen, streven we ernaar om elke Limoncello-liefhebber een
                onvergetelijke ervaring te bezorgen. <br><br>
            </p>

            <h2>Visie</h2>
            <p>
                Bij Lemon Bros streven we ernaar om dé referentie te zijn voor Limoncello in de wereld. We willen onze
                klanten verrassen met een breed scala aan hoogwaardige Limoncello's, variërend van klassieke smaken tot
                unieke en gedurfde combinaties. We willen een plek creëren waar liefhebbers samenkomen om te genieten
                van de verfrissende smaken van Limoncello en de warme sfeer van Italiaanse gastvrijheid. Met een
                voortdurende focus op innovatie en klanttevredenheid willen we een toonaangevend merk worden dat
                synoniem staat voor uitmuntendheid in de wereld van Limoncello. <br><br>

            <h2>Kernwaarden</h2>
            <p>
                <span>Kwaliteit:</span> We streven naar de hoogste kwaliteitsnormen in al onze Limoncello's. We
                selecteren zorgvuldig
                de beste ingrediënten en werken samen met gepassioneerde distilleerderijen die vakmanschap hoog in het
                vaandel hebben staan. Onze klanten kunnen vertrouwen op de uitmuntende kwaliteit van elke fles Lemon
                Bros. <br><br>

                <span>Authenticiteit:</span> We koesteren de rijke tradities en erfgoed van Limoncello. We streven
                ernaar om de
                authentieke smaak van Limoncello uit Italië naar onze klanten te brengen, waarbij we trouw blijven aan
                de eeuwenoude familierecepten en productiemethoden. Onze Limoncello's vertegenwoordigen de echte
                essentie van de Italiaanse cultuur. <br><br>

                <span>Innovatie:</span> Naast het respecteren van traditie, geloven we ook in het verkennen van nieuwe
                mogelijkheden
                en smaakcombinaties. We streven ernaar om onze klanten te verrassen met innovatieve varianten en unieke
                Limoncello-creaties die een moderne draai geven aan de klassieke smaak. <br><br>

                <span>Klantgerichtheid:</span> De tevredenheid van onze klanten staat centraal in alles wat we doen. We
                streven
                ernaar om een uitzonderlijke klantervaring te bieden, van het moment van selectie tot het genieten van
                onze Limoncello. We luisteren naar de behoeften van onze klanten en streven ernaar om hun verwachtingen
                te overtreffen. <br><br>

                <span>Samen genieten:</span> Limoncello is niet alleen een drank, het is een manier om samen te komen,
                te genieten en
                herinneringen te creëren. We willen een gemeenschap van Limoncello-liefhebbers opbouwen, waar mensen
                samenkomen om te delen, te proosten en te genieten van het goede leven.
            </p>


        </div>
    </div>
</div>